section.bestsale
  .container
    .bestsale__columns
      .bestsale__left
        .title__section
          h2.title__green Sản phẩm mua nhiều
        +product-bal('11','Cây chân chim','250.000 đ')
        +product-bal('12','Cây Dạ Lam','150.000 đ')
        +product-bal('05','Cây Danh Dự','450.000 đ')
        +product-bal('07','Cây đa búp nhỏ','200.000 đ')
        +product-bal('04','Cây cọ ta','300.000 đ')
        +product-bal('03','Cây dừa nhỏ','275.000 đ')
      .bestsale__right
        .title__section
          h2.title__green Sản phẩm khuyến mãi
        .bestsale__right--columns
          +product-grid('05','sale','-25%','Cây Danh Dự','475.000 đ','250.000 đ')
          +product-grid('10','sale','-10%','Cây dứa nhỏ','668.000 đ','250.000 đ')
          +product-grid('02','none','-50%','Cây cọ ta','770.000 đ','250.000 đ')
          +product-grid('08','none','-50%','Cây Dạ Lam','555.000 đ','250.000 đ')
          +product-grid('09','none','-50%','Cây Danh Dự','780.000 đ','250.000 đ')
          +product-grid('10','none','-50%','Cây dứa nhỏ','680.000 đ','250.000 đ')