section.feature.feature_s1
  .container
    .title__section
      h2.title__green Sản phẩm nổi bật 
    .feature__columns
      .feature__columns--left
        +items__product('01','new','-50%','Cây chân chim','500.000 đ','250.000 đ')
      .feature__columns--right
        +items__product('01','new','-50%','Cây chân chim','500.000 đ','250.000 đ')
        +items__product('01','new','-50%','Cây chân chim','500.000 đ','250.000 đ')
        +items__product('01','new','-50%','Cây chân chim','500.000 đ','250.000 đ')
        +items__product('01','new','-50%','Cây chân chim','500.000 đ','250.000 đ')



