section.feature
  .container
    .title__section
      h2.title__green Sản phẩm nổi bật 
    .feature__columns
      .feature__left
        .feature__left--top
          +product-grid('01','new','new','Cây chân chim','250.000 đ','250.000 đ')
        .feature__left--bottom
          +product-grid('02','none','new','Cây cọ ta','150.000 đ','250.000 đ')
          +product-grid('03','none','new','Cây dứa nhỏ','375.000 đ','250.000 đ')
      .feature__right
        .feature__right--top
          +product-grid('04','sale','-50%','Cây Dạ Lam','500.000 đ','250.000 đ')
          +product-grid('05','new','new','Cây Dinh Dự','850.000 đ','250.000 đ')
        .feature__right--bottom
          +product-grid('06','sale','-50%','Cây đa búp nhỏ','1.000.000 đ','250.000 đ')



