header.header
  .container
    .header__flex
      .header__logo
        a(href="index.html" title="Logo")
          img(src="images/logo/01.png")
      .header__content
        form(action='#' method="post")
          span.header__content--support Hỗ trợ :  (04) 6674 2332 - (04) 3786 8904
          .header__search
            input(placeholder='Tìm kiếm ...' type='text')
            button(type='submit')
              i.fa.fa-search
      .header__cart
        a(href="#")
          i.fa.fa-shopping-basket
        span.header__cart--amount 0 Sản phẩm


