.login
  .container
    .login__columns
      .login__left
        h2.title__head Thông tin cá nhân
        form.login__form(action='#')
          fieldset.form__group
            label Họ và tên
            input(type='text')
          fieldset.form__group
            label Địa chỉ email
            input(type='text')
          .checkbox
            input#cbx.checkbox__inp(type='checkbox')
            label.checkbox__custom(for='cbx')
              span.checkbox__custom--tick
                svg(width='8px' height='6px' viewbox='0 0 12 10')
                  polyline(points='1.5 6 4.5 9 10.5 1')
              span.checkbox__custom--text Đăng ký nhận thông tin qua email
          .login__btn
            button.btn__common Đăng nhập
      .login__right
        h2.title__head Bạn chưa có tài khoản ?
        p Đăng ký tài khoản ngay để có thể mua hàng nhanh chóng và dễ dàng hơn  ! Ngoài ra còn có rất nhiều chính sách và ưu đãi cho các thành viên citybike
        .login__btn
          button.btn__common Đăng kí
    