.popup
  .popup__background
    .popup__img
      img(src="images/popup/01.png" alt='images')
    .popup__content
      h3.popup__content--title Đăng ký email ngay hôm ngay
      form(action='#' method='post' class='popup__form')
        input(placeholder='Nhập email của bạn vào đây' type='text' )
        button
          i.fa.fa-paper-plane
      p Đăng ký email ngay hôm nay để nhận các thông tin về sự kiện và các trương chình giảm giá từ chúng tôi
      .checkbox
        input#cbx.checkbox__inp(type='checkbox')
        label.checkbox__custom(for='cbx')
          span.checkbox__custom--tick
            svg(width='8px' height='6px' viewbox='0 0 12 10')
              polyline(points='1.5 6 4.5 9 10.5 1')
          span.checkbox__custom--text Không hiển thị lại thông báo này nữa 
    .popup__close
      i.fa.fa-times