section.product-new 
  .container
    .title__section
      h2.title__green Sản phẩm mới
    .product-new__columns
      +product-grid('05','new','new','Cây Danh Dự','250.000 đ','250.000 đ')
      +product-grid('13','none','-50%','Cây xương rồng','250.000 đ','250.000 đ')
      +product-grid('07','none','-50%','Cây Dạ Lam','250.000 đ','250.000 đ')
      +product-grid('12','none','-50%','Cây dứa nhỏ','250.000 đ','250.000 đ')
      +product-grid('10','none','-50%','Cây Danh Dự','680.000 đ','250.000 đ')
      +product-grid('04','none','-50%','Cây Dạ Lam','880.000 đ','250.000 đ')
      +product-grid('02','none','-50%','Cây chân chim','750.000 đ','250.000 đ')
      +product-grid('14','none','-50%','Cây đa búp nhỏ','150.000 đ','250.000 đ')