.shop-grid__columns
  +product-grid('05','','','Cây Danh Dự','250.000 đ','250.000 đ')
  +product-grid('07','','','Cây Danh Dự','250.000 đ','250.000 đ')
  +product-grid('02','','','Cây chân chim','250.000 đ','250.000 đ')
  +product-grid('08','','','Cây cọ ta','250.000 đ','250.000 đ')
  +product-grid('09','','','Cây dứa nhỏ','250.000 đ','250.000 đ')
  +product-grid('10','','','Cây đa búp đỏ','250.000 đ','250.000 đ')
  +product-grid('05','','','Cây chân chim','250.000 đ','250.000 đ')
  +product-grid('07','','','Cây dứa nhỏ','250.000 đ','250.000 đ')
  +product-grid('02','','','Cây cọ ta','250.000 đ','250.000 đ')
  +product-grid('08','','','Cây Dạ Lam','250.000 đ','250.000 đ')
  +product-grid('09','','','Cây Danh Dự','250.000 đ','250.000 đ')
  +product-grid('10','','','Cây dứa nhỏ','250.000 đ','250.000 đ')
