.slider
  input#slide-dot1(type='radio' name='slides' checked)
  .slide.slide__one
  input#slide-dot2(type='radio' name='slides')
  .slide.slide__two
  input#slide-dot3(type='radio' name='slides')
  .slide.slide__three
  .slider__inner
    label(for='slide-dot1')
    label(for='slide-dot2')
    label(for='slide-dot3')
  
