.topbar
  .container
    .topbar__inner
      .topbar__left
        .topbar__post-time
          span.time Open time: 8:00 - 18:00
          span.date Monday - Sun
        .topbar__list-social
          a(href='#')
            i.fa.fa-facebook
          a(href='#')
            i.fa.fa-twitter
          a(href='#')
            i.fa.fa-instagram
          a(href='#')
            i.fa.fa-vimeo
      .topbar__right
        a(href='#' class="icons-login") Đăng nhập
        a(href='#' class="icons-register") Đăng kí