extends layout.pug
block title
  +title('Green Shop | Blog')  
block menu
  include main/menu-bar.pug
block main
  +breadcrumb('Blog')
  .blog.blog__list
    .container
      .has-sidebar__flex
        .has-sidebar__sidebar
          .category__sidebar
            .title__section
              h2.title__green Danh mục sản phẩm
            ul.category__product
              each link in ['Cây chậu treo ( 10 )','Cây có hoa ( 5 )','Cây dây leo','Cây để bàn','Cây may mắn','Cây trang trí','Cây nội thất']
                +category__product(link)
          .category__sidebar
            .title__section
              h2.title__green Tin tức nổi bật
            ul.category__article
              +category__article('16','Hướng dẫn lựa chọn và bố trí cây xanh trong phòng khách')
              +category__article('17','Những sai lầm nên tránh khi bố trí cây xanh trong nhà')
              +category__article('18','7 loại cây xanh để bàn đang được giới văn phòng ưa chuộng')
              +category__article('19','Hướng dẫn lựa chọn cây cảnh trang trí trong văn phòng')
              +category__article('20','4 loại cây cảnh thích hợp bày trí ở khu vực đại sảnh')
          .category__sidebar
            .title__section
              h2.title__green Blog tag
            .category__tag
              each tag in ['Cây văn phòng','Cây phát lộc','Cây xanh','Cây trang trí','Cây','Plants','Sức khỏe','Qùa tặng','Lưu niệm']
                +category__tag(tag)
        .has-sidebar__content
          block blog
            include main/blog.pug
