extends layout.pug
block title
	+title('Green Shop | Home 1')  
block menu
	include main/menu-bar.pug
	include main/slide.pug
block main
	include main/feature.pug
	include main/bestsale.pug
	include main/banner.pug
	include main/product-new.pug
	include main/news.pug
