extends layout.pug
block title
  +title('Green Shop | Shop Product')  
block menu
  include main/menu-bar.pug
block main
  .shop__background
    +breadcrumb('Danh sách sản phẩm')
    .shop-grid
      .container
        .has-sidebar__flex
          .has-sidebar__sidebar
            .category__sidebar
              .title__section
                h2.title__green Danh mục sản phẩm
              ul.category__product
                each link in ['Cây chậu treo ( 10 )','Cây có hoa ( 5 )','Cây dây leo','Cây để bàn','Cây may mắn','Cây trang trí','Cây nội thất']
                  +category__product(link)
            .category__sidebar
              .title__section
                h2.title__green Tìm theo giá
              ul.category__product
                each link in ['200.000 Đ - 400.000 Đ','400.000 Đ - 600.000 Đ','600.000 Đ - 800.000 Đ','800.000 Đ - 1.000.000 Đ','1.000.000 Đ - 2.000.000 Đ']
                  +category__product(link)
            .category__sidebar
              .title__section
                h2.title__green Tìm theo màu
              .category__color
              each val in [{green:"Xanh cây"},{red:"Đỏ cam"},{purple:"Tím"},{blue:"Xanh trời"},{yellow:"Vàng"},{pink:"Hồng"}]
                +category__color(Object.keys(val)[0],val[Object.keys(val)[0]])
          .has-sidebar__content 
            .shop-grid__banner
              img(src='images/page-title/01.jpg' alt='images')
            .catalog__top
              .catalog__view-mode
                a(href="#" class="catalog__view-mode--grid active")
                  i.fa.fa-th
                a(href="#" class="catalog__view-mode--list")
                  i.fa.fa-th-list
              .catalog__right
                .catalog__filter
                  label Sắp xếp theo
                  .catalog__option
                    select.catalog__option--orderby(name='orderby')
                      each option in ['Tên sản phẩm','Sản phẩm 1','Sản phẩm 2','Sản phẩm 3','Sản phẩm 4']
                        +catalog__orderby(option)
                .catalog__filter
                  label Show
                  .catalog__option
                    select.catalog__option--orderby(name='orderby')
                      each option in ['2','4','6','8','10']
                        +catalog__orderby(option)
            block shop-product
              include main/shop-grid.pug
            .pagination
              ul
                each link in ['Trang trước','1','2','3','4','Trang sau']
                  +pagination(link)
  
